body { background-color: #d9d9d9; }

.calculadora { margin-top: 40px; border: 1px solid #000000; padding: 20px; background-color: #2e2e2e; border-radius: 10px; box-shadow: 1px 1px 5px #000000;}

.btn { width: 60px; height: 50px; margin: 5px; box-shadow: 1px 1px 1px #000000; }

.clear { width: 130px; }

.enter { height: 110px; }

.zero { width: 130px; }

.resultado { text-align: right; font: 20px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #000000; box-shadow: 1px 1px 1px #000000; }

.subir { margin-top: -60px; }